Repository refinery-platform/refinery-platform, pull requests merged in 2018-10, with the labels that each got.

#3043 Add expiration for partially and fully uploaded S3 objects
  deployment/terraform/modules/s3/main.tf
Labels: aws, deployment, feature, files, fix-1x-quick

#3041 Update error handling for file operations
  refinery/file_store/models.py
Labels: aws, files, fix-1x-quick, server

#3040 Update rename_datafile()
  refinery/analysis_manager/tasks.py
  refinery/file_store/models.py
  refinery/file_store/utils.py
Labels: aws, enhancement, files, fix-4x-medium, server

#3048 Enable tagging of all resources managed by Terraform
  deployment/terraform/live/main.tf
  deployment/terraform/live/vars.tf
  deployment/terraform/modules/docker_host/main.tf
  deployment/terraform/modules/docker_host/vars.tf
  deployment/terraform/modules/rds/main.tf
  deployment/terraform/modules/rds/vars.tf
  deployment/terraform/modules/s3/main.tf
  deployment/terraform/modules/s3/vars.tf
  deployment/terraform/modules/vpc/main.tf
  deployment/terraform/modules/vpc/vars.tf
Labels: aws, deployment, enhancement, fix-4x-medium

#3049 Migrate S3 log bucket code to Terraform
  deployment/stack.py
  deployment/terraform/modules/s3/main.tf
Labels: aws, deployment, enhancement, fix-2x-small

#3050 Migrate ELB and app server security groups to Terraform
  deployment/aws-config/config.yaml.erb
  deployment/stack.py
  deployment/terraform/live/outputs.tf
  deployment/terraform/modules/vpc/main.tf
  deployment/terraform/modules/vpc/outputs.tf
  deployment/utils.py
Labels: aws, deployment, enhancement, fix-4x-medium

#3051 Refactor core test putting model tests in own file.
  refinery/core/test_models.py
  refinery/core/tests.py
Labels: technical debt

#3054 Add name variable to all Terraform modules
  deployment/terraform/live/main.tf
  deployment/terraform/modules/docker_host/main.tf
  deployment/terraform/modules/docker_host/vars.tf
  deployment/terraform/modules/rds/main.tf
  deployment/terraform/modules/rds/vars.tf
  deployment/terraform/modules/vpc/main.tf
  deployment/terraform/modules/vpc/vars.tf
Labels: aws, deployment, fix-2x-small, technical debt

#3056 Migrate RDS instance to Terraform
  deployment/aws-config/config.yaml.erb
  deployment/stack.py
  deployment/terraform/live/main.tf
  deployment/terraform/live/outputs.tf
  deployment/terraform/live/vars.tf
  deployment/terraform/modules/rds/main.tf
  deployment/terraform/modules/rds/outputs.tf
  deployment/terraform/modules/rds/vars.tf
  deployment/utils.py
Labels: aws, database, deployment, enhancement, fix-4x-medium

#3006 Scottx611x/add recaptcha to registration form
  deployment/aws-config/config.yaml.erb
  refinery/config/settings/base.py
  refinery/config/urls.py
  refinery/core/context_processors.py
  refinery/core/test_views.py
  refinery/core/utils.py
  refinery/core/views.py
  refinery/templates/registration/registration_form.html
Labels: accounts, enhancement, fix-2x-small, server, ui

#3061 Migrate database config for RDS to Puppet
  deployment/aws-config/config.yaml.erb
  deployment/aws.sh
  deployment/bin/ensure-postgresql-database
  deployment/bin/ensure-postgresql-role
  deployment/manifests/aws.pp
  deployment/manifests/default.pp
  deployment/refinery-modules/refinery/manifests/postgresql.pp
  deployment/stack.py
  refinery/config/config.json.erb
Labels: aws, database, deployment, enhancement, fix-8x-large, security, technical debt

#3062 Migrate SES user config to Terraform
  deployment/aws-config/config.yaml.erb
  deployment/stack.py
  deployment/terraform/live/main.tf
  deployment/terraform/live/outputs.tf
  deployment/terraform/modules/ec2/main.tf
  deployment/terraform/modules/ec2/outputs.tf
  deployment/terraform/modules/ec2/vars.tf
  deployment/utils.py
Labels: aws, deployment, enhancement, fix-2x-small

#3060 Scottx611x/integrate trevors observable
  refinery/core/admin.py
  refinery/core/models.py
  refinery/core/test_models.py
  refinery/core/test_views.py
  refinery/core/urls.py
  refinery/core/views.py
  refinery/templates/admin/core/sitestatistics/change_list.html
Labels: fix-2x-small, server, ui, visualization

#3066 Migrate WebInstanceProfile to Terraform
  deployment/aws-config/config.yaml.erb
  deployment/stack.py
  deployment/terraform/live/main.tf
  deployment/terraform/live/outputs.tf
  deployment/terraform/modules/ec2/main.tf
  deployment/terraform/modules/ec2/outputs.tf
  deployment/terraform/modules/ec2/vars.tf
  deployment/terraform/modules/s3/main.tf
  deployment/terraform/modules/s3/outputs.tf
  deployment/utils.py
Labels: aws, deployment, enhancement, files, fix-4x-medium

#3074 Scottx611x/properly reflect admin dataset ownership
  refinery/core/api.py
  refinery/core/test_api.py
  refinery/core/views.py
Labels: api, bug, database, fix-2x-small
