Repository refinery-platform/refinery-platform, pull requests merged in 2018-11, with the labels that each got.

#3079 Disable selection of 0 count facets.
  refinery/ui/source/js/file-browser/partials/assay-filters.html
Labels: enhancement

#2992 Scottx611x/vis tool deletion
  refinery/templates/tool_manager/vis-tool-error.html
  refinery/tool_manager/models.py
  refinery/tool_manager/serializers.py
  refinery/tool_manager/tests.py
  refinery/tool_manager/views.py
  refinery/ui/source/js/data-set-visualization/ctrls/visualization-ctrl.js
  refinery/ui/source/js/data-set-visualization/ctrls/visualization-ctrl.spec.js
  refinery/ui/source/js/data-set-visualization/partials/visualization.html
Labels: docker, fix-4x-medium, server, tools, ui, visualization

#3069 Update versions of installation prerequisites
  README.md
Labels: deployment, documentation, fix-1x-quick, technical debt

#3068 Scottx611x/postgresql upgrade
  .travis.yml
  deployment/aws.sh
  deployment/refinery-modules/refinery/manifests/postgresql.pp
  deployment/terraform/modules/rds/main.tf
Labels: aws, database, fix-2x-small, technical debt, travis-ci

#3091 Assign unique ID to final RDS snapshot
  deployment/terraform/modules/rds/main.tf
Labels: aws, database, deployment, enhancement, fix-1x-quick

#3089 Migrate app server config from CloudFormation to Terraform
  README.md
  deployment/aws-config/config.yaml.erb
  deployment/aws.sh
  deployment/bin/convert-iam-to-smtp
  deployment/bin/create-smtp-credentials
  deployment/bin/fetch-github-ssh-keys
  deployment/bin/fix-untagged-volumes
  deployment/bin/generate-superuser
  deployment/bin/get-s3-config
  deployment/bootstrap.sh
  deployment/refinery-modules/refinery/manifests/aws.pp
  deployment/stack.py
  deployment/terraform/live/get-current-commit.sh
  deployment/terraform/live/main.tf
  deployment/terraform/live/outputs.tf
  deployment/terraform/live/vars.tf
  deployment/terraform/modules/ec2/main.tf
  deployment/terraform/modules/ec2/outputs.tf
  deployment/terraform/modules/ec2/vars.tf
  deployment/utils.py
  refinery/config/config.json.erb
  refinery/config/settings/aws.py
  refinery/config/settings/base.py
  refinery/core/test_views.py
  refinery/core/views.py
  refinery/data_set_manager/test_views.py
Labels: aws, deployment, enhancement, fix-8x-large, server, technical debt

#3093 Remove the unused attributeDefinition model.
  refinery/data_set_manager/admin.py
  refinery/data_set_manager/migrations/0007_remove_attribute_definition.py
  refinery/data_set_manager/models.py
Labels: technical debt

#3115 Simplify quickstart deployment on AWS
  deployment/terraform/live/vars.tf
Labels: aws, deployment, enhancement, fix-1x-quick, server

#3106 Scottx611x/file browser csv download
  refinery/config/settings/base.py
  refinery/core/models.py
  refinery/core/test_views.py
  refinery/core/urls.py
  refinery/core/views.py
  refinery/data_set_manager/search_indexes.py
  refinery/data_set_manager/tests.py
  refinery/ui/source/js/commons/ctrls/download-files-ctrl.js
  refinery/ui/source/js/commons/ctrls/download-files-ctrl.spec.js
  refinery/ui/source/js/commons/directives/download-csv-button.js
  refinery/ui/source/js/commons/directives/download-csv-button.spec.js
  refinery/ui/source/js/commons/directives/download-files-button.js
  refinery/ui/source/js/commons/directives/download-files-button.spec.js
  refinery/ui/source/js/commons/directives/download-files-modal.js
  refinery/ui/source/js/commons/directives/download-files-modal.spec.js
  refinery/ui/source/js/commons/partials/download-csv-button.html
  refinery/ui/source/js/commons/partials/download-files-button.html
  refinery/ui/source/js/commons/partials/download-files-modal.html
  refinery/ui/source/js/commons/services/auth-token.js
  refinery/ui/source/js/commons/services/auth-token.spec.js
  refinery/ui/source/js/file-browser/ctrls/ctrl.js
  refinery/ui/source/js/file-browser/ctrls/ctrl.spec.js
  refinery/ui/source/js/file-browser/module.js
  refinery/ui/source/js/file-browser/partials/assay-files.html
  refinery/ui/source/js/file-browser/views/files-tab.html
  refinery/ui/source/js/user-file-browser/ctrls/user-file-browser-files-ctrl.js
  refinery/ui/source/js/user-file-browser/ctrls/user-file-browser-files-ctrl.spec.js
  refinery/ui/source/js/user-file-browser/partials/user-file-browser-files.html
  refinery/ui/source/styles/file-browser.less
  refinery/user_files_manager/tests.py
  refinery/user_files_manager/views.py
Labels: HSCI requested, api, feature, fix-4x-medium, server, ui
