Repository refinery-platform/refinery-platform, pull requests merged in 2019-09, with the labels that each got.

#3443 Jkmarx/remove unused pyyaml
  requirements.txt
Labels: technical debt

#3442 Remove unused template dependency, Jinja2
  requirements.txt
Labels: technical debt

#3441 Refactor Testing into Different Files
  refinery/analysis_manager/test_models.py
  refinery/analysis_manager/test_tasks.py
  refinery/analysis_manager/test_utils.py
  refinery/analysis_manager/test_views.py
  refinery/analysis_manager/tests.py
  refinery/data_set_manager/test_commands.py
  refinery/data_set_manager/test_models.py
  refinery/data_set_manager/test_parsers.py
  refinery/data_set_manager/test_search_indexes.py
  refinery/data_set_manager/test_utils.py
  refinery/data_set_manager/tests.py
  refinery/tool_manager/test_models.py
  refinery/tool_manager/test_utils.py
  refinery/tool_manager/test_views.py
  refinery/tool_manager/tests.py
Labels: technical debt, tests

#3448 Get Absolute URL Always Returns Absolute URL or Raises Error
  refinery/analysis_manager/tasks.py
  refinery/core/test_utils.py
  refinery/core/utils.py
  refinery/data_set_manager/search_indexes.py
  refinery/data_set_manager/test_search_indexes.py
  refinery/data_set_manager/test_utils.py
  refinery/data_set_manager/test_views.py
  refinery/data_set_manager/utils.py
  refinery/data_set_manager/views.py
  refinery/tool_manager/models.py
Labels: core, fix-2x-small, server, technical debt
