Repository refinery-platform/refinery-platform, pull requests merged in 2019-03, with the labels that each got.

#3237 Delete README.md for Terraform
  deployment/terraform/README.md
Labels: aws, deployment, documentation, fix-1x-quick

#3242 Hackdna/cmdline uploads
  deployment/terraform/modules/cognito/main.tf
  deployment/terraform/modules/ec2/main.tf
Labels: aws, deployment, feature, files, fix-2x-small, import

#3255 Remove unused template.
  refinery/templates/core/collaboration.html
Labels: technical debt

#3256 Remove unused cypress test and fixtures.
  refinery/ui/cypress/fixtures/api-v1-data_sets-assays.json
  refinery/ui/cypress/fixtures/api-v1-data_sets-sharing.json
  refinery/ui/cypress/fixtures/api-v1-data_sets-studies.json
  refinery/ui/cypress/fixtures/api-v1-data_sets.json
  refinery/ui/cypress/integration/anonymous/not_logged_in_spec.js
  refinery/ui/cypress/integration/logged_in/preview_spec.js
Labels: technical debt

#3253 Remove protocol resource which is not used by client.
  refinery/config/urls.py
  refinery/data_set_manager/api.py
Labels: api, technical debt

#3252 Jkmarx/switch fb ds details to v2
  refinery/core/test_views.py
  refinery/core/urls.py
  refinery/core/views.py
  refinery/ui/source/js/commons/services/data-sets-v2.spec.js
  refinery/ui/source/js/commons/services/data-sets.js
  refinery/ui/source/js/commons/services/data-sets.spec.js
  refinery/ui/source/js/data-set-about/services/factory.js
  refinery/ui/source/js/data-set-about/services/factory.spec.js
  refinery/ui/source/js/file-browser/services/data-set-props.js
  refinery/ui/source/js/file-browser/services/data-set-props.spec.js
Labels: api, dataset, technical debt, ui

#3254 Remove unused annotations.
  refinery/core/api.py
  refinery/ui/source/js/commons/services/data-set-annotations.js
Labels: api, technical debt, ui

#3257 Jkmarx/switch study resource v2
  refinery/core/api.py
  refinery/data_set_manager/serializers.py
  refinery/data_set_manager/test_views.py
  refinery/data_set_manager/urls.py
  refinery/data_set_manager/views.py
  refinery/ui/source/js/commons/services/node.spec.js
  refinery/ui/source/js/commons/services/studies.js
  refinery/ui/source/js/commons/services/studies.spec.js
  refinery/ui/source/js/data-set-about/directives/details.spec.js
  refinery/ui/source/js/data-set-about/services/factory.js
  refinery/ui/source/js/data-set-about/services/factory.spec.js
Labels: api, technical debt

#3258 Extend node v2 service.
  refinery/data_set_manager/serializers.py
  refinery/data_set_manager/test_views.py
  refinery/data_set_manager/urls.py
  refinery/data_set_manager/views.py
  refinery/ui/source/js/commons/services/node.js
  refinery/ui/source/js/commons/services/node.spec.js
  refinery/ui/source/js/file-browser/services/factory.js
  refinery/ui/source/js/file-browser/services/factory.spec.js
  refinery/ui/source/js/provvis/ctrls/ctrl.js
  refinery/ui/source/js/provvis/services/provvis-init-service.js
Labels: api, technical debt, ui

#3260 Jkmarx/remove attribute investigation publication resource
  refinery/config/urls.py
  refinery/core/api.py
  refinery/data_set_manager/api.py
Labels: api, technical debt

#3259 Jkmarx/remove study and node resource
  refinery/config/urls.py
  refinery/core/api.py
  refinery/core/test_api.py
  refinery/data_set_manager/api.py
  refinery/ui/source/js/commons/services/studies.spec.js
  refinery/ui/source/js/data-set-about/services/factory.spec.js
Labels: api, technical debt

#3264 Jkmarx/remove unused workflow views
  refinery/core/forms.py
  refinery/core/urls.py
  refinery/core/views.py
  refinery/templates/core/workflow_edit.html
  refinery/templates/core/workflow_engine.html
Labels: server, technical debt, workflow

#3262 Jkmarx/angularize workflow page
  .gitignore
  refinery/config/settings/base.py
  refinery/config/settings/gdev.py
  refinery/static/source/js/d3/d3-tip.js
  refinery/static/source/js/d3/d3.v3.js
  refinery/static/source/js/d3/d3.v3.min.js
  refinery/static/source/js/d3/fisheye.js
  refinery/static/source/js/refinery/core/workflow_visualization.js
  refinery/static/source/js/refinery/viewers/profile-viewer.js
  refinery/templates/base.html
  refinery/templates/core/workflow.html
  refinery/ui/Gruntfile.js
  refinery/ui/config.json
  refinery/ui/source/js/refinery.js
  refinery/ui/source/js/refinery.spec.js
  refinery/ui/source/js/workflow/ctrl.js
  refinery/ui/source/js/workflow/ctrl.spec.js
  refinery/ui/source/js/workflow/directives/workflow-graph.js
  refinery/ui/source/js/workflow/directives/workflow-graph.spec.js
  refinery/ui/source/js/workflow/module.js
  refinery/ui/source/js/workflow/module.spec.js
  refinery/ui/source/js/workflow/partials/workflow-graph.html
Labels: technical debt, ui, workflow

#3263 Jkmarx/remove workflow api v1
  refinery/config/urls.py
  refinery/core/api.py
  refinery/core/forms.py
  refinery/core/urls.py
  refinery/core/views.py
  refinery/templates/core/workflow_edit.html
  refinery/templates/core/workflow_engine.html
Labels: api, technical debt, workflow

#3265 Jkmarx/groups api v2
  refinery/core/serializers.py
  refinery/core/test_views.py
  refinery/core/urls.py
  refinery/core/views.py
  refinery/ui/source/js/commons/services/group.js
  refinery/ui/source/js/data-set-about/ctrls/details-ctrl.js
  refinery/ui/source/js/data-set-about/ctrls/groups-perms-ctrl.js
  refinery/ui/source/js/data-set-about/ctrls/groups-perms-ctrl.spec.js
  refinery/ui/source/js/data-set-about/ctrls/sharing-ctrl.js
  refinery/ui/source/js/data-set-about/ctrls/sharing-ctrl.spec.js
  refinery/ui/source/js/data-set-about/directives/group-perms.js
  refinery/ui/source/js/data-set-about/directives/group-perms.spec.js
  refinery/ui/source/js/data-set-about/directives/sharing.js
  refinery/ui/source/js/data-set-about/directives/sharing.spec.js
  refinery/ui/source/js/data-set-about/partials/details.html
  refinery/ui/source/js/data-set-about/partials/group-perms.html
  refinery/ui/source/js/data-set-visualization/ctrls/visualization-ctrl.js
  refinery/ui/source/js/file-browser/ctrls/ctrl.js
  refinery/ui/source/js/file-browser/ctrls/ctrl.spec.js
  refinery/ui/source/js/file-browser/ctrls/user-perms-icon-ctrl.js
  refinery/ui/source/js/file-browser/ctrls/user-perms-icon-ctrl.spec.js
  refinery/ui/source/js/file-browser/directives/user-perms-icon.spec.js
  refinery/ui/source/js/file-browser/services/data-set-group-perms-service.js
  refinery/ui/source/js/file-browser/services/data-set-group-perms-service.spec.js
  refinery/ui/source/js/file-browser/services/data-set-perms-service.js
  refinery/ui/source/js/file-browser/services/data-set-perms-service.spec.js
  refinery/ui/source/js/file-browser/services/data-set-props.js
  refinery/ui/source/js/home/services/chart-data-service.spec.js
Labels: api, technical debt, ui

#3269 Hackdna/update file storage
  .gitignore
  deployment/puppet/refinery/manifests/django.pp
  deployment/puppet/refinery/manifests/init.pp
  deployment/puppet/refinery/manifests/params.pp
  deployment/puppet/refinery/manifests/solr.pp
  deployment/terraform/live/vars.tf
  media/.gitignore
  refinery/config/config.json.erb
  refinery/config/settings/base.py
  refinery/file_store/models.py
  refinery/file_store/tasks.py
  refinery/file_store/test_utils.py
  refinery/file_store/utils.py
Labels: aws, deployment, files, fix-4x-medium, server

#3266 Jkmarx/extend analysis api
  refinery/core/serializers.py
  refinery/core/test_views.py
  refinery/core/urls.py
  refinery/core/views.py
Labels: api, technical debt

#3272 Apache config update
  deployment/puppet/refinery/manifests/apache2.pp
Labels: aws, deployment, fix-2x-small, server, technical debt

#3273 Make EBS volume config more robust
  deployment/puppet/refinery/manifests/init.pp
  deployment/puppet/refinery/manifests/params.pp
  deployment/terraform/modules/ec2/main.tf
  deployment/terraform/modules/ec2/vars.tf
Labels: aws, deployment, files, fix-2x-small, server, technical debt

#3275 Jkmarx/remove unused user apis
  refinery/config/urls.py
  refinery/core/api.py
  refinery/ui/source/js/commons/services/users.js
  refinery/ui/source/js/commons/services/users.spec.js
Labels: api, technical debt, ui

#3274 Remove analysis resource api.
  refinery/config/urls.py
  refinery/core/api.py
  refinery/core/test_api.py
  refinery/ui/source/js/commons/services/users.js
  refinery/ui/source/js/commons/services/users.spec.js
Labels: api, technical debt

#3271 Jkmarx/update client with analysis api v2
  refinery/config/urls.py
  refinery/core/api.py
  refinery/core/serializers.py
  refinery/core/test_api.py
  refinery/templates/core/data_set.html
  refinery/ui/source/js/analysis-monitor/ctrls/ctrl.js
  refinery/ui/source/js/analysis-monitor/ctrls/ctrl.spec.js
  refinery/ui/source/js/analysis-monitor/ctrls/global-status-ctrl.js
  refinery/ui/source/js/analysis-monitor/ctrls/global-status-ctrl.spec.js
  refinery/ui/source/js/analysis-monitor/ctrls/global-status-popover-ctrl.js
  refinery/ui/source/js/analysis-monitor/ctrls/global-status-popover-ctrl.spec.js
  refinery/ui/source/js/analysis-monitor/directives/global-status-popover.spec.js
  refinery/ui/source/js/analysis-monitor/directives/global-status.js
  refinery/ui/source/js/analysis-monitor/directives/owner-name.js
  refinery/ui/source/js/analysis-monitor/directives/running-tab-icon.js
  refinery/ui/source/js/analysis-monitor/partials/analyses-list.html
  refinery/ui/source/js/analysis-monitor/partials/global-status-popover.html
  refinery/ui/source/js/analysis-monitor/partials/global-status.html
  refinery/ui/source/js/analysis-monitor/partials/running-tab-icon.html
  refinery/ui/source/js/analysis-monitor/services/factory.js
  refinery/ui/source/js/analysis-monitor/services/factory.spec.js
  refinery/ui/source/js/commons/services/analyses.js
  refinery/ui/source/js/commons/services/analyses.spec.js
  refinery/ui/source/js/commons/services/users.js
  refinery/ui/source/js/commons/services/users.spec.js
  refinery/ui/source/js/dashboard/controllers/data-sets-card-ctrl.js
  refinery/ui/source/js/dashboard/controllers/dataset-deletion.js
  refinery/ui/source/js/provvis/ctrls/ctrl.js
  refinery/ui/source/js/tool-launch/ctrls/tool-launch-button-ctrl.js
Labels: analysis, technical debt, ui

#3278 Change default EC2 instance type for app server to t2.medium
  deployment/terraform/live/vars.tf
Labels: aws, deployment, fix-1x-quick, performance, server, technical debt

#3276 Hackdna/vagrantfile cleanup
  Vagrantfile
  refinery/analysis_manager/tasks.py
  refinery/galaxy_connector/admin.py
  refinery/galaxy_connector/migrations/0002_remove_instance_local_download.py
  refinery/galaxy_connector/models.py
Labels: analysis, deployment, fix-2x-small, galaxy, server, technical debt

#3280 Update RDS backup window
  deployment/terraform/modules/rds/main.tf
Labels: aws, database, deployment, enhancement, fix-1x-quick

#3281 Set refinery_s3_user_data to true on AWS by default
  deployment/puppet/refinery/manifests/params.pp
  deployment/terraform/live/vars.tf
Labels: aws, deployment, files, fix-1x-quick, server

#3282 Set number of CPU cores in Vagrant to two to match t2.medium on AWS
  Vagrantfile
Labels: deployment, enhancement, fix-1x-quick, server

#3283 Put Solr data dirs outside the source tree on both AWS and Vagrant
  .gitignore
  deployment/puppet/refinery/manifests/params.pp
  deployment/puppet/refinery/manifests/solr.pp
  refinery/solr/core/conf/solrconfig.xml.erb
  refinery/solr/data_set_manager/conf/solrconfig.xml.erb
Labels: aws, deployment, enhancement, fix-2x-small, server, solr

#3284 Remove snapshot scheduler and its tags
  deployment/bin/snapshotscheduler.py
  deployment/terraform/modules/ec2/main.tf
Labels: aws, deployment, fix-2x-small, technical debt

#3291 Remove unused auth api resource.
  refinery/config/urls.py
  refinery/core/api.py
Labels: api, technical debt

#3289 Remove unused shareable api resource and unused helpers.
  refinery/core/api.py
  refinery/core/tests.py
  refinery/core/utils.py
Labels: api, technical debt

#3287 Jkmarx/update client edit perms
  refinery/config/urls.py
  refinery/core/api.py
  refinery/core/test_api.py
  refinery/core/tests.py
  refinery/core/utils.py
  refinery/ui/source/js/commons/ctrls/permission-editor-ctrl.js
  refinery/ui/source/js/commons/ctrls/permission-editor-ctrl.spec.js
  refinery/ui/source/js/commons/partials/permission-dialog.html
  refinery/ui/source/js/commons/services/group.js
  refinery/ui/source/js/commons/services/sharing.js
  refinery/ui/source/js/commons/services/sharing.spec.js
  refinery/ui/source/js/dashboard/services/permission.js
  refinery/ui/source/js/dashboard/services/permission.spec.js
Labels: technical debt, ui

#3293 Add command line admin tools to AWS instance and Vagrant VM
  deployment/bootstrap.sh
  deployment/terraform/modules/ec2/main.tf
Labels: aws, deployment, enhancement, fix-1x-quick, server

#3290 Remove unneccessary auth service.
  refinery/config/urls.py
  refinery/core/api.py
  refinery/ui/source/js/commons/services/auth.js
  refinery/ui/source/js/commons/services/auth.spec.js
  refinery/ui/source/js/tool-launch/ctrls/tool-launch-button-ctrl.js
  refinery/ui/source/js/tool-launch/directives/tool-launch-button.spec.js
  refinery/ui/source/js/tool-launch/directives/tool-launch-warning.spec.js
Labels: technical debt, ui

#3286 Refactor other view sets to use helper.
  refinery/config/urls.py
  refinery/core/api.py
  refinery/core/test_api.py
  refinery/core/tests.py
  refinery/core/utils.py
  refinery/core/views.py
  refinery/data_set_manager/views.py
  refinery/ui/source/js/commons/ctrls/permission-editor-ctrl.js
  refinery/ui/source/js/commons/ctrls/permission-editor-ctrl.spec.js
  refinery/ui/source/js/commons/partials/permission-dialog.html
  refinery/ui/source/js/commons/services/group.js
  refinery/ui/source/js/commons/services/sharing.js
  refinery/ui/source/js/commons/services/sharing.spec.js
  refinery/ui/source/js/dashboard/services/permission.js
  refinery/ui/source/js/dashboard/services/permission.spec.js
Labels: api, technical debt

#3285 Jkmarx/group patch perms
  refinery/config/urls.py
  refinery/core/api.py
  refinery/core/serializers.py
  refinery/core/test_api.py
  refinery/core/test_utils.py
  refinery/core/test_views.py
  refinery/core/tests.py
  refinery/core/utils.py
  refinery/core/views.py
  refinery/data_set_manager/views.py
  refinery/ui/source/js/commons/ctrls/permission-editor-ctrl.js
  refinery/ui/source/js/commons/ctrls/permission-editor-ctrl.spec.js
  refinery/ui/source/js/commons/partials/permission-dialog.html
  refinery/ui/source/js/commons/services/group.js
  refinery/ui/source/js/commons/services/sharing.js
  refinery/ui/source/js/commons/services/sharing.spec.js
  refinery/ui/source/js/dashboard/services/permission.js
  refinery/ui/source/js/dashboard/services/permission.spec.js
Labels: api, technical debt

#3295 jkmarx/remove-unused-workflow-client-service
  refinery/ui/source/js/commons/services/workflows.js
Labels: technical debt, ui, workflow

#3298 Remove unused entries from .gitignore
  .gitignore
Labels: aws, deployment, fix-1x-quick, technical debt

#3297 Jkmarx/remove unused group management resource
  refinery/config/urls.py
  refinery/core/api.py
Labels: api, technical debt

#3296 Hackdna/puppet modules
  .gitignore
  Vagrantfile
  deployment/bootstrap.sh
  deployment/puppet/modules/.gitignore
  deployment/terraform/modules/ec2/main.tf
Labels: aws, deployment, fix-2x-small, server, technical debt

#3292 Jkmarx/fix analysis auto call bug
  refinery/ui/source/js/analysis-monitor/ctrls/ctrl.js
  refinery/ui/source/js/analysis-monitor/ctrls/ctrl.spec.js
  refinery/ui/source/js/data-set-nav/state.js
Labels: bug, ui

#3299 Extend api to create groups.
  refinery/core/serializers.py
  refinery/core/test_views.py
  refinery/core/views.py
Labels: api, technical debt
