Repository refinery-platform/refinery-platform, pull requests merged in 2019-06, with the labels that each got.

#3392 Migrate UUIDField galaxy_import_task_group_id in AnalysisStatus model
  refinery/analysis_manager/migrations/0006_analysisstatus_galaxy_import_task_group_id.py
  refinery/analysis_manager/models.py
Labels: analysis, database, fix-2x-small, server, technical debt

#3393 Migrate UUIDField galaxy_export_task_group_id in AnalysisStatus model
  refinery/analysis_manager/migrations/0007_analysisstatus_galaxy_export_task_group_id.py
  refinery/analysis_manager/models.py
Labels: analysis, database, fix-2x-small, server, technical debt

#3394 Migrate UUIDField galaxy_workflow_task_group_id in AnalysisStatus model
  refinery/analysis_manager/migrations/0008_analysisstatus_galaxy_workflow_task_group_id.py
  refinery/analysis_manager/models.py
Labels: analysis, database, fix-2x-small, server, technical debt

#3395 Update storage setting per docs.
  deployment/terraform/modules/rds/main.tf
Labels: aws

#3391 Jkmarx/upgrade to ubuntu 16
  Vagrantfile
  deployment/bootstrap.sh
  deployment/puppet/refinery/manifests/docker.pp
  deployment/puppet/refinery/manifests/postgresql.pp
  deployment/puppet/refinery/manifests/solr.pp
  deployment/requirements.txt
  deployment/terraform/modules/ec2/main.tf
  deployment/terraform/modules/rds/main.tf
Labels: technical debt

#3398 Limit workflow api urls.
  refinery/core/views.py
Labels: api, bug

#3402 Remove old and unused fixture.
  refinery/core/fixtures/default-pages.json
Labels: technical debt

#3399 Add extra details on dashboard.
  refinery/ui/source/js/dashboard/partials/data-sets-card.html
Labels: enhancement, ui

#3405 Upgrade paramiko to v2.5.0
  deployment/requirements.txt
Labels: deployment, fix-1x-quick, security, server, technical debt

#3408 Hackdna/deployment code cleanup
  deployment/bootstrap.sh
  deployment/puppet/refinery/manifests/apache2.pp
Labels: deployment, fix-2x-small, server, technical debt

#3407 Upgrade PostgreSQL to version 10.9
  deployment/puppet/refinery/manifests/postgresql.pp
Labels: critical, database, deployment, fix-1x-quick, server, technical debt

#3409 Update ec2 configs.
  deployment/terraform/modules/ec2/main.tf
Labels: technical debt
